/* Universal Styling Start */

* {
margin: 0;
padding: 0;
}


body {
width: 100%;
font-family: 'Press Start 2P', cursive;
}


nav {
background-color: #e8e8e8;
position: fixed;
top: 0px;
font-size: 20px;
width: 100%;
padding: 20px;
}

	#navLinks {
	padding: 25px;
	}

	nav ul {
	list-style-type: none;
	}

	nav li {
	float: left;
	margin-right: 45px;
	}

	nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
	}

	nav a:hover {
	color: #646464;
	}

footer {
text-align: center;
background-color: #e8e8e8;
padding: 15px;
}

/* Universal Styling End */


/* index.html Styling Start */

.FirstBlock_Index {
margin: 90px auto 20px auto;
text-align: center;
padding: 35px 0px;
border-radius: 25px;
width: 90%;
color: white;
background-color: white;
background-image: url("images/headerImageIndex.gif");
background-repeat:  no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: fixed;
}

.SecondBlock_Index {
background-color: #ff00003b;
width: 95%;
border-radius: 25px;
margin: 0px auto 32px auto;
text-align: center;
padding: 10px;
font-size: 11px;
line-height: 1.9;
}

		#leftTableCell_Index {
		clear: both;
		display: table-cell;
		vertical-align: top;
		text-align: left;
		padding: 10px;
		width: 50%;
		}

			#leftTableCell_Index p {
			padding-bottom: 20px;
			}

			#leftTableCell_Index li {
			list-style-type: none;
			}

		#rightTableCell_Index {
		clear: both;
		display: table-cell;
		vertical-align: top;
		text-align: center;
		padding: 10px;
		}

			#rightTableCell_Index img {
			border-radius: 25px;
			width: 90%;
			padding-bottom: 10px;
			}

				#rightTableCell_Index a:link {
				color: darkred;
				}

				#rightTableCell_Index a:visited {
				color: red;
				}

				#rightTableCell_Index a:hover {
				color: darkred;
				}

				#rightTableCell_Index a:active {
				color: darkred;
				}

/* index.html Styling Start */


/* register.html Styling Start */

.FirstBlock_Register {
background-color: #ff00003b;
width: 95%;
border-radius: 25px;
margin: 90px auto 30px auto;
}

	.FirstBlock_Register p {
	padding: 30px 0px 0px 30px;
	}

	.FirstBlock_Register form {
	padding: 30px;
	}

			.FirstBlock_Register form input, 
			.FirstBlock_Register form select, 
			.FirstBlock_Register form option {
			padding: 7px;
			margin: 20px;
			width: 92%;
			border: 2px solid red;
			border-radius: 4px;
			outline: none;
			}

				.FirstBlock_Register form input:hover, 
				.FirstBlock_Register form input:focus {
				border: 2px solid darkred;
				border-radius: 4px;
				}

				.FirstBlock_Register input[type=submit] {
				width: 20%;
				font-family: 'Press Start 2P', cursive;
				padding: 12px;
				font-size: 20px;
				display: block;
				margin: 15px auto 10px auto;
				} 
			
			.FirstBlock_Register form select {
			width: 94%;
			}