/* UNIVERSAL (All Directory .html Files) Styling Start */


/* For Browser Compataibility */

* {
margin: 0;
padding: 0;
}


.Body_Index,
.Body_Events,
.Body_Register {
width: 100%;
font-family: 'Press Start 2P', cursive;
}


.Nav-Bar_UNIVERSAL {
background-color: #e8e8e8;
position: fixed;
top: 0px;
font-size: 20px;
width: 100%;
padding: 20px;
}

	#nav-Bar-Unordered-List-Div_UNIVERSAL {
	list-style-type: none;
	}

	#nav-Bar-Unordered-List_UNIVERSAL li {
	float: left;
	margin-right: 45px;
	}

	#nav-Bar-Unordered-List_UNIVERSAL a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
	}

	#nav-Bar-Unordered-List_UNIVERSAL a:hover {
	color: #646464;
	}


#footer_UNIVERSAL {
text-align: center;
background-color: #e8e8e8;
padding: 15px;
}


/* UNIVERSAL (All Directory .html Files) Styling End */




/* index.html Styling Start */

.First-Block-Div_Index {
margin: 90px auto 20px auto;
text-align: center;
padding: 35px 0px;
border-radius: 25px;
width: 90%;
color: white;
background-color: white;
background-image: url("images/headerImageIndex.gif");
background-repeat:  no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: fixed;
}


	#first-Block-First-Header_Index {
	margin-bottom: 20px;
	}


.SecondBlock_Index {
background-color: #ff00003b;
width: 95%;
border-radius: 25px;
margin: 0px auto 32px auto;
text-align: center;
padding: 10px;
font-size: 16px;
line-height: 2.1;
}

		#leftTableCell_Index {
		clear: both;
		display: table-cell;
		vertical-align: top;
		text-align: left;
		padding: 10px;
		width: 50%;
		margin: auto 0px auto 0px
		}

			#leftTableCell_Index p {
			padding-bottom: 20px;
			}

			#leftTableCell_Index li {
			list-style-type: none;
			}

		#rightTableCell_Index {
		clear: both;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 10px;
		}

			#rightTableCell_Index img {
			border-radius: 25px;
			width: 90%;
			padding-bottom: 10px;
			max-width: 592px;
			max-height: 370px;
			}

				#rightTableCell_Index a:link {
				color: darkred;
				}

				#rightTableCell_Index a:visited {
				color: red;
				}

				#rightTableCell_Index a:hover {
				color: darkred;
				}

				#rightTableCell_Index a:active {
				color: darkred;
				}

/* index.html Styling Start */




/* events.html Styling Start */

/* events.html Styling End */




/* register.html Styling Start */

.FirstBlock_Register {
background-color: #ff00003b;
width: 95%;
border-radius: 25px;
margin: 90px auto 30px auto;
}

	.FirstBlock_Register p {
	padding: 30px 0px 0px 30px;
	}

	.FirstBlock_Register form {
	padding: 30px;
	}

			.FirstBlock_Register form input, 
			.FirstBlock_Register form select, 
			.FirstBlock_Register form option {
			padding: 12px;
			margin: 20px;
			width: 92%;
			border: 2px solid red;
			border-radius: 4px;
			outline: none;
			border-radius: 25px;
			}

				.FirstBlock_Register form input:hover, 
				.FirstBlock_Register form input:focus {
				border: 2px solid darkred;
				border-radius: 25px;
				}

				.FirstBlock_Register input[type=submit] {
				width: 30%;
				font-family: 'Press Start 2P', cursive;
				padding: 17px;
				font-size: 20px;
				display: block;
				margin: 15px auto 10px auto;
				border-radius: 25px;
				} 
			
			.FirstBlock_Register form select {
			width: 94.5%;
			}

/* register.html Styling End */