/* index.html CSS Stylesheet */


.First-Block-Div_Index {

    margin: 125px auto 35px auto;

    text-align: center;

    padding: 35px 0px;

    border-radius: 25px;

    width: 70%;

    color: white;

    background-color: white;

    background-image: url("../../images/header-image_index.gif");

    background-repeat:  no-repeat;

    background-attachment: fixed;

    background-size: cover;

    background-position: fixed;

    }
    

        @media screen and (max-width: 554px) {

        .First-Block-Div_Index {

        margin-top: 175px;

        }

        }


        @media screen and (max-width: 800px) {

        #first-Block-Headers-Div_Index h1, h2, h3, h4, h5, h6 {

        line-height: 1.5;
        
        padding-right: 25px;

        padding-left: 25px;

        }

        }


        #first-Block-First-Header_Index {

            margin-bottom: 20px;
    
            }
    
    

            
    .Second-Block_Index {

    background-color: #ff00003b;

    width: 85%;

    border-radius: 25px;

    margin: 0px auto 32px auto;

    text-align: center;

    padding: 25px 10px 25px 10px; 

    font-size: 16px;

    line-height: 2.5;

    }


            #first-Cell_Index {

            display: block;

            padding: 10px;

            width: 95%;

            margin-bottom: 40px;

            }
    

                #first-Cell-Paragraphs-Div_Index p {

                padding: 40px 0px 40px 0px;

                }
    

                #first-Cell-Ordered-List_Index li {

                list-style-type: none;

                }
    

            #second-Cell_Index {

            display: block;

            padding: 10px;

            width: 95%;

            }
    

                #second-Cell-Images-Div_Index img {

                border-radius: 25px;

                padding-bottom: 35px;

                width: 60%;

                height: 60%;

                }


                #second-Cell-Paragraphs-Div_Index p {

                padding: 15px 0px 40px 0px;

                }
    

                #first-Cell-Paragraphs-Div_Index a:visited {

                color: red;

                }
    

                #first-Cell-Paragraphs-Div_Index a:link,

                #first-Cell-Paragraphs-Div_Index a:hover,

                #first-Cell-Paragraphs-Div_Index a:active {

                color: darkred;
                
                }