/* UNIVERSAL CSS Stylesheet */

/* For Browser Compataibility */

* {

    margin: 0;

    padding: 0;

    }
    
    


.Body_Index,

.Body_Events,

.Body_subscribe,

#mc_embed_signup {

width: 100%;

font-family: 'Press Start 2P', cursive;

}
    
    


.Nav-Bar_UNIVERSAL {

background-color: #e8e8e8;

position: fixed;

top: 0px;

font-size: 20px;

width: 100%;

padding: 20px;

}


    #nav-Bar-Unordered-List_UNIVERSAL li {

    float: left;

    margin: 15px 45px 15px 15px;

    list-style-type: none;

    }


    #nav-Bar-Unordered-List_UNIVERSAL a {

    text-transform: uppercase;

    text-decoration: none;

    color: black;

    }

    
    #nav-Bar-Unordered-List_UNIVERSAL a:hover {

    color: #646464;

    }
    


    
#footer_UNIVERSAL {

text-align: center;

background-color: #e8e8e8;

padding: 15px;

}


    #footer-Headers-Div {

    margin: 15px 0px

    }


    #footer-social-media-div_UNIVERSAL {

    display: flex;

    justify-content: center;

    }


    #footer-social-media-div_UNIVERSAL.entry {

    flex: 33.33%;

    padding: 5px;

    }


    #footer-social-media-div_UNIVERSAL img {

    width: 35px;

    height: 35px;

    padding: 10px;

    }