/* index.html CSS Stylesheet */


.First-Block-Div_Index {

    margin: 125px auto 35px auto;

    text-align: center;

    padding: 35px 0px;

    border-radius: 25px;

    width: 70%;

    color: white;

    background-color: white;

    background-image: url("../../images/header-image_index.gif");

    background-repeat:  no-repeat;

    background-attachment: fixed;

    background-size: cover;

    background-position: fixed;

    }


        a {

        color: red;

        }


        a:hover, 

        a:focus {

        color: darkred;

        }
    

        @media screen and (max-width: 554px) {

        .First-Block-Div_Index {

        margin-top: 175px;

        }

        }


        @media screen and (max-width: 800px) {

        #first-Block-Headers-Div_Index h1,
        
        #first-Block-Headers-Div_Index h3 {

        line-height: 1.5;
        
        padding-right: 25px;

        padding-left: 25px;

        }

        }


        #first-Block-First-Header_Index {

        margin-bottom: 20px;
    
        }
    
    

            
    .Second-Block_Index {

    background-color: #ff00003b;

    width: 85%;

    border-radius: 25px;

    margin: 0px auto 32px auto;

    text-align: center;

    padding: 0px 10px 0px 10px; 

    font-size: 16px;

    line-height: 2.5;

    }


            #first-Cell_Index {

            display: block;

            text-align: center;

            padding: 10px;

            width: 95%;

            margin: 0px auto 40px auto;

            }
    

                #first-Cell-Paragraphs-Div_Index p {

                padding: 30px 0px 40px 0px;

                }
    

                #first-Cell-Ordered-List_Index li {

                list-style-type: none;

                }
    

            #second-Cell_Index {

            display: block;

            padding: 10px;

            text-align: center;

            margin: 0px auto;

            width: 95%;

            }
    

                #second-Cell-Images-Div_Index img {

                border-radius: 25px;

                width: 60%;

                height: 60%;

                margin-bottom: 35px;

                }


                #second-Cell-Paragraphs-Div_Index p {

                padding: 15px 0px 30px 0px;

                }